.buttons-container {
    margin-left: auto;
    background-color: #fff;
    display: flex;
}

.navi-buttons {
    border: none;
    color: #47525E;
    text-transform: capitalize;
    margin: 0 5px;
    font-size: 18px;
    width: 150px;
}

.db-text {
    color: #F95F62;
}

/* .css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {

    background-color: #f08080;
    color: #fff;
} */